*{

  margin: 0;
  padding: 0;

}

main{


display: grid;
grid-template-rows: 1fr 3fr;
}

h1{


text-align: center;
font-size: 250%;
color: #034282;
   text-shadow:
   -.5px -.5px 0 #ffff,
   .5px -.5px 0 #ffff,
   -.5px .5px 0 #ffff,
   .5px .5px 0 #ffff;

}

h2{

text-align: left;
font-size: 150%;
color: #fdae00;
   text-shadow:
   -1px -1px 0 #034282,
   1px -1px 0 #034282,
   -1px 1px 0 #034282,
   1px 1px 0 #034282;

}


p{

  font-size: 150%;
  color: white;
  text-shadow:
  -1px -1px 0 #034282,
  1px -1px 0 #034282,
  -1px 1px 0 #034282,
  1px 1px 0 #034282;


}



.text-border{

  grid-column: 1/2;
  border: 10px double #034282;
  background-color: #5995DA;
  text-align: center;
  height: auto;

}


.banner-section{
grid-row: 1/2;
display:grid;
grid-template-rows: 3fr 1fr;
background-color: #5995DA;  /* Blue */

}

.content-section{

display: grid;
grid-template-columns: 3fr 1fr;
grid-gap: 1em;
grid-auto-rows: 5%;
background-color: #aaa;

}

.picture-container{

  grid-column: 2/3;
  align-items: center;

}


.section-4{


  background-color: #aaa;

}

.buttons{        /*styles the home button */

  font-family: 'New Tegomin', serif;
  border: 5px #5995DA solid;
  background: #034282;
  color: #fdae00;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 200%;

}

.menu-container{

  background-color: #5995DA;
  display: flex;
  justify-content: center;
  align-items: center;
}


.PDFcontainer{

  padding: 30px;

}

iframe{

padding: 1%;

}
